<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}    {% endblock %}
</head>

<body>
{#{% block bar %}#}
    <form action="/" method="POST">
        <input type="submit" class="input-button" name="home-btn"  value="Home">
        <input type="submit" class="input-button" name="calendar-all-btn"  value="Calendario Ano">
        <input type="text" class="input-int" name="calendar-year" value="{{ current_year }}">
        <input type="submit" class="input-button" name="nova-btn"  value="Nova Feira/Evento">
        <input type="submit" class="input-button" name="backup-btn"  value="Backup DB"><br>
        <input type="submit" class="input-button" name="new-events-btn"  value="Novos">
        <input type="text" class="input-lng-t" name="pesquisa" value="">
        <input type="submit" class="input-button" name="pesquisa-events-btn" value="Pesquisa mercado">
        <input type="submit" class="input-button" name="arquivados" value="Arquivados">

    </form>
    <hr>
{#{% endblock %}#}
    {% block body %}

    {% endblock %}
</body>
</html>