<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/show_base.css') }}">
</head>
<script>
function close_window() {
 close();
 }
</script>

{% extends 'base.html' %}
{% block head %}
<title>Evento {{ event_record["ev_nome"]}} </title>
{% endblock %}

{% block body %}
 <div >
 <h1 style="text-align: left">Evento {{ event_record["ev_nome"]}}</h1>
 <form action="/show_event/{{ event_record["ev_id"] }}" method="POST">
     <input type="text" id="ev-id" name="ev-id" hidden value="{{  event_record["ev_id"] }}">
     <etiq class="etiq-l1" >Ano:</etiq><input class="input-year" maxlength="4" type="text" id="ev_ano" name="ev-ano" value="{{event_record["ev_ano"]}}" ><br>
     <etiq class="etiq-l1" >Mês:</etiq><input class="input-year" maxlength="4" type="text" id="ev_mes" name="ev-mes" value="{{event_record["ev_mes"]}}" >
     <etiq class="etiq-l1" >Inicio:</etiq><input class="input-year" maxlength="4" type="text" id="ev_dia_inicio" name="ev-dia-inicio" value="{{event_record["ev_dia_inicio"]}}" >
     <etiq class="etiq-l1" >Mês Fim:</etiq><input class="input-year" maxlength="4" type="text" id="ev_mes_fim" name="ev-mes-fim" value="{{event_record["ev_mes_fim"]}}" >
     <etiq class="etiq-l1" >Dia Fim:</etiq><input class="input-year" maxlength="4" type="text" id="ev_dia_fim" name="ev-dia-fim" value="{{event_record["ev_dia_fim"]}}" ><br>
     <etiq class="etiq-l1" >Nome:</etiq><input class="input-long" maxlength="90" type="text" id="ev_nome" name="ev-nome" value="{{event_record["ev_nome"]}}" ><br>
     <etiq class="etiq-l1" >Tipo:</etiq><input class="input-long" maxlength="60" type="text" id="ev_tipo" name="ev-tipo" value="{{event_record["ev_tipo"]}}" ><br>
     <etiq class="etiq-l1" >Local:</etiq><input class="input-long" maxlength="60" type="text" id="ev_local" name="ev-local" value="{{event_record["ev_local"]}}" ><br>
      <etiq class="etiq-l1" >Freguesia:</etiq><input class="input-long" maxlength="60" type="text" id="ev_freguesia" name="ev-freguesia" value="{{event_record["ev_freguesia"]}}" ><br>
     <etiq class="etiq-l1" >Concelho:</etiq><input class="input-long" maxlength="60" type="text" id="ev_concelho" name="ev-concelho" value="{{event_record["ev_concelho"]}}" ><br>
     <etiq class="etiq-l1" >Distrito:</etiq><input class="input-long" maxlength="60" type="text" id="ev_distrito" name="ev-distrito" value="{{event_record["ev_distrito"]}}" ><br>
     <etiq class="etiq-l1" >Link:</etiq><input class="input-long" maxlength="60" type="text" id="ev_nome_link" name="ev-nome-link" value="{{event_record["ev_nome_link"]}}" ><br>
{#     <etiq class="etiq-l1" >Arquivo:</etiq><input class="input-long" maxlength="60" type="text" id="ev_arquivo" name="ev-arquivo" value="{{event_record["ev_arquivo"]}}" ><br>#}
    {% if event_record['ev_arquivo'] == True %}
        <etiq class="etiq-l1" >Arquivo: </etiq><input type="checkbox" id="ev_arquivo" name="ev-arquivo" checked >
    {% else:%}
        <etiq class="etiq-l1" >Arquivo: </etiq><input type="checkbox" id="ev_arquivo" name="ev-arquivo" >
    {% endif %}
    {% if event_record['ev_novo'] == True %}
        <etiq class="etiq-l1" >Novo: </etiq><input type="checkbox" id="ev_novo" name="ev-novo" checked ><br>
    {% else:%}
        <etiq class="etiq-l1" >Novo: </etiq><input type="checkbox" id="ev_novo" name="ev-novo" ><br>
    {% endif %}
     <br>

     <etiq>S.E.O:</etiq> <br> <textarea rows="6" cols="100" class="input-memo" id="nas-obs" name="nas-obs" >{{ event_record['ev_seo'] }}</textarea>
     <br>
 <input type="submit" name="ev_save" value="Grava">
 <input type="submit" name="ev_clone" value="Duplica">
 <input type="submit" name="ev_close_and_save" onclick=self.close() value="Grava e Fecha">
 <input type="button" name="ev_close" onclick=self.close() value="Fechar">
 <input type="submit" name="ev_delete" value="Apaga"><br>

 </form>
</div>
{% endblock %}
