body, html {
    margin: 0;
    /* font-family: sans-serif; */
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #06161F;
    color:#ffffff;
    margin: 8px;
}

.content {
    margin: 0 auto;
    width: 400px;
}

h4 {
    color: #FFFFFF;
}
.form {
    margin-top: 20px;
}

[class*="etiq-"] {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding-right: 5px;
    margin: 0px;
    display: inline-block;
    /*cursor: pointer;*/
    /*background-color: #f0ad4e;*/
}
.etiq-l0 {
    padding-left: 10px;
}

.etiq-link-evv {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding-left: 4px;
    cursor: pointer;
     color: #f8c110;
    text-decoration: none;
    background-color: #1f56e3;
}
.etiq-l1 {
    color: #4238ca;
    font-weight: bold;
    width: 100px;
    text-align: right;
}

.etiq-l2 {
    font-size: 14px;
    padding-right: 5px;
    color: #1f56e3;
    font-weight: bold;
    margin: 0 0 0 60px;
    width: 100px;
    text-align: right;
}

.etiq-l3 {
    color: #4238ca;
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
    margin: 0 0 0 60px;
}

.etiq-l9 {
    color: #4238ca;
    font-weight: bold;
    font-size: 14px;
    padding-right: 5px;
}

[class*="input-"] {
    /* background-color: #000; */
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 0 4px 2px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    font: normal 18px/normal Tahoma, Geneva, sans-serif;;
    color: rgb(33, 150, 5);
    -o-text-overflow: clip;
    text-overflow: clip;
    /* background: #D0E4F5; */
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.66);
}

.input-lng {
    /* font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    width: 90ch;
}

.input-lng-t {
    /* font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    width: 20ch;
}

.input-short {
    width: 3ch;
    /* background-color: #D0E4F5; */
}

.input-int {
    width: 6ch;
    /* background-color: #D0E4F5; */
}

.input-year {
    width: 5ch;
}

.input-date {
    width: 10ch;
}

.input-mid {
    width: 10ch;
}

.header-date {
    width: 10ch;
    /* column-width: 10px; */
}

.header-name {
    width: 40ch;
}

.input-button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 3px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    font: normal normal bold 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(255, 255, 255, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0f71a1;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.input-search {
    /* font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    width: 35ch;
    color: #000;
}
.input-combo {
    width: 7ch;
}

.select-year {
    width: 200px;
    height: 30px;
}


.entry-content table:not(.variations) {
	border: 1px solid #eee;
	margin: 0 0 15px;
	text-align: left;
	/* width: 100%; */
}


.etiq-month-sep {
    /*display: inline;*/
    background-color: #f10d0d;
    border-radius: 0px 0px 0px 0px;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    colspan: 2;
    /*width: 300px ;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    color: #FFFFFF;
}


.text-number {
    text-align: right;
    padding-right: 9px;
    padding-left: 12px;
    font-size: 18px;
    color: #eeeeee;
}



.flag {
    display: inline-block;
    /*-webkit-box-sizing: content-box;*/
    /*-moz-box-sizing: content-box;*/
    box-sizing: content-box;
    /*cursor: pointer;*/
    padding: 1px 10px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    font: normal normal bold 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(255, 255, 255, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0f71a1;
    /*-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);*/
    /*-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);*/
    /*-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);*/
    /*transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);*/
}
[class*="month-"]
 {
    text-align: left;
    font-size: 18px;
    padding-right: 9px;
    padding-left: 1px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-collapse: collapse;
    color: #ffffff;
}
.month-jan {
  color: #CFF2FF;
}
.month-fev {
    color: #e0a4b3;
    font-weight: bold;
}
.month-mar {
    color: #b1b1f4;
}
.month-abr {
    color: #f55858;
    font-weight: bold;
}
.month-mai {
    color: #ccb08d;
}
.month-jun {
    color: #c0cafb;
    font-weight: bold;
}
.month-jul {
    color: #eb8eff;
}
.month-ago {
    color: #fcfc04;
    font-weight: bold;
}
.month-set {
    color: #c03085;
}
.month-out {
    color: #de0a59;
    font-weight: bold;
}
.month-nov {
    color: #d58a8f;
}
.month-dez {
    color: #ff2254;
    font-weight: bold;
}
.year-on{
    text-align: right;
    padding-right: 9px;
    padding-left: 12px;
    font-size: 18px;
    color: #25d257;
}
.show_date{
    content: "\f073" !important;
    color: #ff8f22;
    padding-right: 5px;
    font-size: 18px;
}

.show_site {
    content: "\f124" !important;
    color: #ff8f22;
    padding-right: 5px;
    font-size: 18px;
}

/*classes para a o calendário*/
.h1-month{
    background-color: #bc3333;
    border-radius: 10px 2px 2px 2px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:white;
}
.etiq-link {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding-left: 4px;
    cursor: pointer;
     color: #ffffff;
    text-decoration: none;
}
.etiq-month {
    /* display: inline; */
    background-color: #1f56e3;
    border-radius: 4px 4px 0px 0px;
    font-size: 14px;
    font-style: normal;
    width: 94px;
    text-align: center;
    display: inline-block;
}
.text-long {
    text-align: left;
    font-size: 18px;
    padding-right: 9px;
    padding-left: 1px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-collapse: collapse;
    color: #1bc749;
}
.text-event {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    font-size: 18px;
    color: #1bc749;
    padding-right: 9px;
    padding-left: 0px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-collapse: collapse;
}

.etiq-day {
    /* display: inline; */
    background-color: #fcfc02;
    color: #1f56e3;
    font-size: 16px;
    border-radius: 0 0 4px 4px;
    padding-right: 2px;
    font-weight: bold;
    margin: 0 0 0 0px;
    width: 38px;
    text-align: center;
    display: inline-block;
}
.etiq-day1 {
    /* display: inline; */
    background-color: #fcfc02;
    color: #1f56e3;
    font-size: 18px;
    border-radius: 0 0 4px 4px;
    padding-right: 0px;
    font-weight: bold;
    margin: 0 0 0 0px;
    width: 93px;
    text-align: center;
    display: inline-block;
}


.etiq-month-sep-1 {
    display: inline;
    background-color: #f10d0d;
    border-radius: 0px 0px 0px 0px;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    width: 300px ;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
}
